.container {
  padding: 0 2rem;
  display: grid;
  margin-bottom: 10px;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: azure;
}

.title,
.description {
  text-align: center;
}

.description {
  /* margin: 2rem 0; */
  line-height: 1.5;
  font-size: 1.5rem;
  color: azure;
}

.button {
  background-color: transparent;
  border: 0;
  color: azure;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button:hover,
.button:active {
  outline: 0;
  color: #ffc2a1be;
  border-color: #ffc2a1be;
}

.chatButton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #999;
  background-color: azure;
  border: none;
  border-radius: 12px;
  box-shadow: 0 9px #999;
  margin: 2rem 0;
}

.chatButton:hover {
  background-color: #ffc2a1be;
}

.chatButton:active {
  background-color: #0070f3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.progressBar {
  --bar-bg: azure;
  --seek-before-width: 0;
  --seek-before-color: #ffc2a1;
  --knobby: #3452a5;
  --selectedKnobby: #26c9c3;

  appearance: none;
  background: var(--bar-bg);
  border-radius: 12px;
  position: relative;
  width: 99%;
  height: 11px;
  outline: none;
  cursor: pointer;
}

/* Chat room */
.chatRoom {
  font-size: x-large;
  display: flex;
}

.messageBox {
  grid-template-columns: 1fr 3fr;
  padding: 20px 30px;
  align-items: center;
  background-color: #c4b7a6;
  width: 90vw;
  height: 90vh;
}

.inputBox {
  padding: 20px 30px;
  background-color: var(--dark-color-a);
}

.inputBox form {
  display: flex;
}

.inputBox input[type='text'] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
  margin-right: 10px;
  border: none;
}

.btn {
  position: relative;
  background-color: rgb(255, 244, 240);
  border: none;
  font-size: 17px;
  color: black;
  padding: 5px 15px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  background: #2196f3;
  color: white;
}

.btn:after {
  content: '';
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

@media screen and (min-width: 600px) {
  .buttonLists {
    font-size: 2em;
    /* flex-wrap: wrap; */
  }
}

@media screen and (max-width: 600px) {
  .buttonLists {
    font-size: 1em;
    /* flex-wrap: wrap; */
  }
}
