.container {
  padding: 0 2rem;
  border: solid;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: azure;
  border: solid;
}

.title,
.description {
  text-align: center;
  border: solid;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color: azure;
  border: solid;
}

.buttonLists {
  border: solid;
  display: inline-block;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  min-width: 100px;
  max-width: 800px;
  width: calc(100vh - 50px);
}

.button {
  height: 2em;
  width: 8em;
  position: relative;
  border: solid;
  cursor: pointer;
  color: azure;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.button:hover,
.button:focus,
.button:active {
  color: #0070f3;
  border-color: #0070f3;
}

@media screen and (min-width: 600px) {
  .buttonLists {
    font-size: 2em;
    /* flex-wrap: wrap; */
  }
}

@media screen and (max-width: 600px) {
  .buttonLists {
    font-size: 1em;
    /* flex-wrap: wrap; */
  }
}
